{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Register New Empolyee</h1>
        <form action="/register" method="post">
            <div class="mb-3">
                <label for="" class="form-label">Full Name</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" required>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <div class="md-3">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
{% endblock body %}